
= render partial: '/properties', locals: {record: @incident}

= render partial: '/properties', locals: {record: @incident.area}

= render partial: '/properties', locals: {record: @incident.crime}

= render partial: '/properties', locals: {record: @incident.status}
